Check out the data
We've been able to get some data from your neighbor for housing prices as a csv set, let's get our environment ready with the libraries we'll need and then import the data!

Import Libraries

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

Check out the Data

In [18]:
df=pd.read_csv(r"C:\Users\pooja\Downloads\USA_Housing.csv")

In [19]:
df.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.45857,5.682861,7.009188,4.09,23086.80050,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.64245,6.002900,6.730821,3.09,40173.07217,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.06718,5.865890,8.512727,5.13,36882.15940,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.24005,7.188236,5.586729,3.26,34310.24283,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.19723,5.040555,7.839388,4.23,26354.10947,6.309435e+05,USNS Raymond\nFPO AE 09386

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Avg. Area Income              5000 non-null   float64
 1   Avg. Area House Age           5000 non-null   float64
 2   Avg. Area Number of Rooms     5000 non-null   float64
 3   Avg. Area Number of Bedrooms  5000 non-null   float64
 4   Area Population               5000 non-null   float64
 5   Price                         5000 non-null   float64
 6   Address                       5000 non-null   object
dtypes: float64(6), object(1)
memory usage: 273.6+ KB

In [21]:
df['Price'].nunique()

5000

In [22]:
df.corr()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price
Avg. Area Income,1.000000,-0.002007,-0.011032,0.019788,-0.016234,0.639734
Avg. Area House Age,-0.002007,1.000000,-0.009428,0.006149,-0.018743,0.452543
Avg. Area Number of Rooms,-0.011032,-0.009428,1.000000,0.462695,0.002040,0.335664
Avg. Area Number of Bedrooms,0.019788,0.006149,0.462695,1.000000,-0.022168,0.171071
Area Population,-0.016234,-0.018743,0.002040,-0.022168,1.000000,0.408556
Price,0.639734,0.452543,0.335664,0.171071,0.408556,1.000000

EDA

Lets create some simple plots to check out the data!

In [63]:
sns.pairplot(df)

Training a Linear Regression Model

Let's now begin to train out regression model! We will need to first split up our data into an X array that contains the features to train on, and a y array with the target variable, in this case the Price column. We will toss out the Address column because it only has text info that the linear regression model can't use.

X and y arrays

In [24]:
x=df[['Avg. Area Income','Avg. Area House Age','Avg. Area Number of Rooms','Avg. Area Number of Bedrooms','Area Population']]

In [25]:
x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population
0,79545.45857,5.682861,7.009188,4.09,23086.80050
1,79248.64245,6.002900,6.730821,3.09,40173.07217
2,61287.06718,5.865890,8.512727,5.13,36882.15940
3,63345.24005,7.188236,5.586729,3.26,34310.24283
4,59982.19723,5.040555,7.839388,4.23,26354.10947
...,...,...,...,...,...
4995,60567.94414,7.830362,6.137356,3.46,22837.36103
4996,78491.27543,6.999135,6.576763,4.02,25616.11549
4997,63390.68689,7.250591,4.805081,2.13,33266.14549
4998,68001.33124,5.534388,7.130144,5.44,42625.62016
4999,65510.58180,5.992305,6.792336,4.07,46501.28380

In [26]:
y=df['Price']

In [27]:
y

0       1.059034e+06
1       1.505891e+06
2       1.058988e+06
3       1.260617e+06
4       6.309435e+05
            ...
4995    1.060194e+06
4996    1.482618e+06
4997    1.030730e+06
4998    1.198657e+06
4999    1.298950e+06
Name: Price, Length: 5000, dtype: float64

In [28]:
(5000*40)/100

2000.0

In [29]:
(5000*60)/100

3000.0

Train Test Split

Now let's split the data into a training set and a testing set. We will train out model on the training set and then use the test set to evaluate the model.

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
train_test_split(x,y,test_size=0.4,random_state=101)

[      Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
 1303       68091.17968             5.364208                   7.502956
 1051       75729.76555             5.580599                   7.642973
 4904       70885.42082             6.358747                   7.250241
 931        73386.40734             4.966360                   7.915453
 4976       75046.31379             5.351169                   7.797825
 ...                ...                  ...                        ...
 4171       56610.64256             4.846832                   7.558137
 599        70596.85095             6.548274                   6.539986
 1361       55621.89910             3.735942                   6.868291
 1547       63044.46010             5.935261                   5.913454
 4959       75078.79152             7.644779                   8.440726

       Avg. Area Number of Bedrooms  Area Population
 1303                          3.10      44557.37966
 1051                          4.21      29996.01845
 4904                          5.42      38627.30147
 931                           4.30      38413.49048
 4976                          5.23      34107.88862
 ...                            ...              ...
 4171                          3.29      25494.74030
 599                           3.10      51614.83014
 1361                          2.30      63184.61315
 1547                          4.10      32725.27954
 4959                          4.33      56148.44932

 [3000 rows x 5 columns],
       Avg. Area Income  Avg. Area House Age  Avg. Area Number of Rooms  \
 1718       66774.99582             5.717143                   7.795215
 2511       62184.53937             4.925758                   7.427689
 345        73643.05730             6.766853                   8.337085
 2521       61909.04144             6.228343                   6.593138
 54         72942.70506             4.786222                   7.319886
 ...                ...                  ...                        ...
 1776       65173.05044             7.679469                   6.602618
 4269       42969.65939             6.295501                   7.885507
 1661       48735.92451             5.543730                   6.091906
 2410       65081.58405             5.433570                   9.212518
 2302       65969.70704             7.325976                   8.020966

       Avg. Area Number of Bedrooms  Area Population
 1718                          4.32      36788.98033
 2511                          6.22      26008.30912
 345                           3.34      43152.13958
 2521                          4.29      28953.92538
 54                            6.41      24377.90905
 ...                            ...              ...
 1776                          4.23      44125.54078
 4269                          4.38      29594.08986
 1661                          2.43      19682.34729
 2410                          5.14      37594.49346
 2302                          4.09      61772.75681

 [2000 rows x 5 columns],
 1303    1.489648e+06
 1051    1.183015e+06
 4904    1.547889e+06
 931     1.186442e+06
 4976    1.340344e+06
             ...
 4171    7.296417e+05
 599     1.599479e+06
 1361    1.102641e+06
 1547    8.650995e+05
 4959    2.108376e+06
 Name: Price, Length: 3000, dtype: float64,
 1718    1.251689e+06
 2511    8.730483e+05
 345     1.696978e+06
 2521    1.063964e+06
 54      9.487883e+05
             ...
 1776    1.489520e+06
 4269    7.777336e+05
 1661    1.515271e+05
 2410    1.343824e+06
 2302    1.906025e+06
 Name: Price, Length: 2000, dtype: float64]

In [32]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.4,random_state=101)

In [33]:
x_train.shape

(3000, 5)

In [34]:
x_test.shape

(2000, 5)

In [35]:
y_train.shape

(3000,)

In [36]:
y_test.shape

(2000,)

Creating and Training the Model

In [37]:
from sklearn.linear_model import LinearRegression

In [38]:
lr=LinearRegression()

In [39]:
lr=lr.fit(x_train,y_train)

In [40]:
lr

LinearRegression()

Model Evaluation
Let's evaluate the model by checking out it's coefficients and how we can interpret them.

In [41]:
lr.intercept_

-2640159.7968132393

In [42]:
lr.coef_

array([2.15282755e+01, 1.64883282e+05, 1.22368678e+05, 2.23380186e+03,
       1.51504200e+01])

In [43]:
df1=pd.DataFrame(lr.coef_,x.columns,columns=['Coefficient'])

In [44]:
df1

                                Coefficient
Avg. Area Income                  21.528276
Avg. Area House Age           164883.282027
Avg. Area Number of Rooms     122368.678023
Avg. Area Number of Bedrooms    2233.801864
Area Population                   15.150420

In [45]:
x.columns

Index(['Avg. Area Income', 'Avg. Area House Age', 'Avg. Area Number of Rooms',
       'Avg. Area Number of Bedrooms', 'Area Population'],
      dtype='object')

Predictions from our Model
Let's grab predictions off our test set and see how well it did!

In [53]:
prediction=lr.predict(x_test)

In [54]:
prediction

array([1260960.70581766,  827588.7554465 , 1742421.24257428, ...,
        372191.4061303 , 1365217.15136993, 1914519.54191725])

In [55]:
y_test

1718    1.251689e+06
2511    8.730483e+05
345     1.696978e+06
2521    1.063964e+06
54      9.487883e+05
            ...
1776    1.489520e+06
4269    7.777336e+05
1661    1.515271e+05
2410    1.343824e+06
2302    1.906025e+06
Name: Price, Length: 2000, dtype: float64

In [56]:
from sklearn import metrics

In [57]:
metrics.r2_score(y_test,predication)

0.9176824009781832

In [64]:
plt.scatter(y_test,prediction)

ERROR

In [59]:
print('MAE:',metrics.mean_absolute_error(y_test,predication))

MAE: 82288.22250721784

In [60]:
print('MSE:',metrics.mean_squared_error(y_test,predication))
print('RMSE:',np.sqrt(metrics.mean_squared_error(y_test,predication)))

MSE: 10460958905.775047
RMSE: 102278.82921589907